/* 必須のスタイルのみ保持 */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* スクロールアップボタンのスタイル */
.scroll-up-button {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.scroll-up-button:hover {
  transform: translateY(-3px);
  background-color: var(--green-tint) !important;
  color: var(--green) !important;
}
